
body {
    background-color: rgb(0, 0, 0);
}
div.header{
  text-align: center;
}

video {
  width: 45rem;
  height: 30rem;
}
span {
    color: white;
    font-size: 36px;
    display: block;
    margin-bottom: 75px;
    margin-top: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#countdown {
    color: white;
    font-size: 24px;
    margin-top: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

p {
    color: white;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
    font-size: 66px;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.End_poem {
  margin-top: 40px;
  align-items: center;
  background-color:white;
  text-align: left;
  color: #000000;
  border-width: 3px;
  border-color: gray;
  border-style: solid;
}

.End {
  color: #000000;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 1.5rem;
}

.poster {
  display: block;
  height: 50rem;
  width: 70rem;
  margin-top: 50px;
  margin-bottom: 1px;
  margin: auto;
  padding-top: 5rem;
}

.testo_poster {
  color: white;
  font-size: 16px;
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  display: block;
}

.main {
  text-align: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    gap: 4rem; 
    max-width: 3600px;
    margin: 1rem auto;
}
.main p{
  padding-bottom: 0.2rem;
}

#main-image{
  display: block;
  margin: auto;
  width: 40rem;
}
@media (min-width: 1000px) {
  .End{
    font-size: 1.3rem;
  }
  .End_poem{
    margin:auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
  }
  .main {
  text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    gap: 4rem; 
    max-width: 3600px;
    margin: 1rem auto;
}
}

@media (max-width: 1300px) {
  .poster{
    width: 45rem;
    height: 35rem;
  }
}
@media (max-width: 710px) {
  #main-image{
    width: 25rem;
  }
    p {
    font-size: 0.5rem;
    }
}
@media (max-width: 1000px) {
    video{
    height: 10rem;
    width: 30rem;
  }
  p {
    font-size: 0.5rem;
  }
  .poster{
    height: 25rem;
    width: 30rem;
  }
}

@media (max-width: 550px) {
  video{
    height: 10rem;
    width: 20rem;
  }
  p {
    font-size: 0.5rem;
  }
  .End{
    font-size: 1.2rem;
  }
}
@media (max-width: 442px) {
  #main-image{
    width: 15rem;
  }
  p {
    font-size: 0.5rem;
  }
  .poster{
    width: 20rem;
    height: 15rem;
  }
}

.Sigma {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  z-index: 1000;
}

.Alletto {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  z-index: 1000;
}

.Intro {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 640px;
  height: 360px;
  opacity: 40%;
  transition: 0.3s ease;
  scale: 380%;
  border: #ffffff solid;
}

.Intro:hover{
  opacity: 100%;
  transition: 0.3s ease;
}

#Andrea {
  overflow: clip;
}

#image-container {
  height: 660px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#play {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

iframe {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;

}

h1 {
  text-align: center;
}